<div class="top-header">
	<div class="container">
		<div class="top-head">
			<ul class="header-in">
				<li><a href="#">  Help</a></li>
				<li><a href="#">   Contact Us</a></li>
				<li><a href="#">   How To Use</a></li>
			</ul>
			<div class="search">
				<img src="images/face-mini.png" class="header-facebook" />
				<img src="images/twitter-mini.png" class="header-twitter" />
					<img src="images/google-mini.png" class="header-google" />
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<div class="header-top">
	<div class="container">
		<div class="head-top">
			<div class="logo">
				<h1><a href="#/"><span>G</span>ame<span>B</span>ets</a></h1>
			</div>
			<div class="top-nav" ng-controller="SidebarController as vm">
				<span class="menu"><img src="frontend/assets/images/menu.png" alt=""> </span>
			<ul>
					<li class=" nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
						<a class="color2" ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
					</li>
					<li class=" nlightblue fade-selection-animation">
						<a class="color3" ng-click="vm.showSignInModal()">Log In</a>
					</li>
					<div class="clearfix"> </div>
				</ul>
				<script>
					$("span.menu").click(function() {
						$(".top-nav ul").slideToggle(500, function() {});
					});
				</script>

			</div>
		</div>
	</div>
</div>
