<!--<div ng-controller="LoginController as vm">-->
<div class="login">
  <form id="login_form" name="login_form" novalidate>

      <h1 class="h1-login"><C>Sign In</C></h1>
    </br>
  <hr>
    <div id="email-log">
      <md-input-container class="md-block">
        <label class="label-login">E-mail</label>
        <input required type="email" name="inputEmail" class="input-email" ng-model="vm.inputEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="login_form.inputEmail.$error" role="alert">
        </div>
      </md-input-container>
    </div>
    </br>
    <div id="passw-log">
      <md-input-container class="md-block">
        <label class="label-login">Password</label>
        <input required ng-minlength="5" class="input-passw" ng-maxlength="10" type="password" name="inputPass" ng-model="vm.inputPass">
        <div ng-messages="login_form.inputPass.$error" role="alert">
        </div>
    </div>
    </br>
    </md-input-container>
    <a href="#" id="linkRest">¿Has olvidado tu contraseña?</a> </br>
    <br>
    <button class="btn btn-lg btn-primary" type="submit" id="SubmitLogin" ng-disabled="login_form.$invalid" ng-click="vm.SubmitLogin()">Sign In</button>
    <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
    <div id="resultMessageOk" class="msg_error">{{vm.resultMessageOk}}</div>

    <!---<p class=p-login>¿Eres un nuevo cliente?</p><-->

</div>
</form>
</div>
<!--</div>-->
