/****************Perfil***************************/
#left {

  position: absolute;
  left: 1020px;
}

#mid {
  position: absolute;
  left: 520px;
}

#right {
  margin-left: 40px;
}

#mid button {
  position: absolute;
  left: 60px;
}
