/*****************************************************************************/
/* Sign In																															 */
/*****************************************************************************/
.signin_modal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.signin {
  width: 70%;
  padding: 5%;
}

.vertical_separator {
  width: 1%;
  border-left: 1px solid #cccccc;
}

.social_signin {
  width: 24%;
  height: 80%;
  padding-left: 5%;
}

.contact_signin {
  width: 100%;
  height: 20%;
  margin-top: 5px;
  border-top: 1px solid #cccccc;
  font-size: 1.5em;
}

.signin input {
	width: 90%;
  border-width: 0;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.5em;
  margin: 5px 0 5px 10px;
}

.signin input:focus {
	outline:0px;
  border-bottom: 2px solid black;
}

.align_right {
  margin: 5px 0 5px 10px;
  text-align: right;
}

#login {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 50px 10px 50px;
  background-color: white;
  font-size: 1.5em;
}

#login:hover {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 50px 10px 50px;
  background-color: black;
  color: white;
}

#facebook
{
  background-image: url("../images/facebook_2.png");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 70px;
}

#facebook:hover
{
  background-image: url("../images/facebook.png");
}

#twitter
{
  background-image: url("../images/twitter_2.png");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 70px;
}

#twitter:hover
{
  background-image: url("../images/twitter.png");
}

#google-plus
{
  background-image: url("../images/google-plus_2.png");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 70px;
}

#google-plus:hover
{
  background-image: url("../images/google-plus.png");
}

/*****************************************************************************/
/* Sign Up																															 */
/*****************************************************************************/
#page{
  min-height: 33vh;
}

#signup {
  display: flex;
  flex-direction: column;
  background-color: #99cc00;
  padding: 20px;
}

#signup input {
	width: 90%;
  padding: 5px;
  margin: 8px;
  display: inline-block;
  border-width: 0;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  background-color: #99cc00;
}

#signup input:focus {
	outline:0px;
  border-bottom: 2px solid white;
}

.ui-dialog,
.ui-widget,
.ui-widget-content,
.ui-corner-all,
.ui-draggable,
.ui-resizable {
  background: #99cc00;
  border-width: 0;
}

.ui-widget-header {
    display: none;
}

.ui-button {
  background-color: white;
  width: 100px;
}

.ui-button:hover {
  border: 0;
  font-weight: bold;
}

#content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 35vh;
}

#content span{
  text-align: center;
  font-size: 2em;
}

/**** Dropzone ****/

.izq,.der{
    width: 25%;
}
.der{
    float: right;
}
.center{
    text-align: center;
    width: 49%;
}
input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: #ddd;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
}

form {
    display: block;
    margin: 20px auto;
    background: #eee;
    border-radius: 10px;
    padding: 15px
}

#progress {
    position: relative;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

#bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

#percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

.msg {
    color: white;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}

.msg_ok {
    background: #589D05;
}

.msg_error {
    background: red;
}

/*****************************************************************************/
/* Dropzone																																	 */
/*****************************************************************************/

#progress
{
  position:relative;
  width: 100%;
  border: 1px solid #ddd;
  padding: 1px;
  border-radius: 3px;
}

#bar
{
  background-color: #B4F5B4;
  width:0%; height:20px;
  border-radius: 3px;
}

#percent
{
  position:absolute;
  display:inline-block;
  top:3px;
  left:48%;
}

.msg
{
  color: white;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  position: absolute;
  left: 4.5vw;
  text-transform: uppercase;
  min-width: 10px;
}

.msg_ok
{
  background: #589D05;
}

.msg_error
{
  background: red;
}

#dropzone
{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #0066cc;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

#dropzone:focus
{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #000099;
  box-sizing: border-box;
}

/*****************************************************************************/
/* Error                                                                     */
/*****************************************************************************/

.error_javascript {
  display: block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 3px solid #ee0000;
  background-color: #ee0000;
  color: #ffffff;
}

.error_php {
  color: #ff0000;
}
